.App{
  background-color: chocolate;
  margin: 20px;
}
.second-component{
  background-color: darkcyan;
  margin-top: 10px;
}
.third-component{
  background-color: cornflowerblue;
  margin-left: 40px;
}
.fourth-component{
 background-color: darkseagreen;
}