.myexperiment{
 text-align: center;
 border: 1px solid;
 padding: 10px;
 margin-left: 100px;
 margin-right: 100px;
 background-color: chartreuse;
}
.in{
    background-color: blueviolet;
    color: azure;
}
.de{
    background-color: cadetblue;
    color: crimson;
}
.todo{
    text-align: center;
  list-style-type: none;
  border: 1px solid;
   padding: 10px;
   margin-left: 100px;
 margin-right: 100px;
 background-color: brown;
 color: cyan;
}
.none{
    list-style-type: none;
}
body{
    background-color: cadetblue;
}
