.second{
    margin: 10px;
    background-color: lightpink;
}
.first{
    margin: 10px;
    background-color: lightseagreen;
}
.third{
    margin: 10px;
    background-color: lightslategray;
}
.fourth{
    margin: 10px;
    background-color: cornflowerblue;
}