.main-container{
display: flex;
flex-wrap: wrap;
}
.small-container{
  border: 1px solid black;
  width: 200px;
  height: 200px;
  margin: 10px;
  text-align: center;
  font-size: x-small;
  padding: 5px;
}
.side-container{
  display: inline-block;
  border: 1px solid black;
}