*{
  font-family: Arial, Helvetica, sans-serif;
}
.mybox{
  border: 1px solid;
  padding: 10px;
  margin: 10px;
}
#flag{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
#flag li{
  width: 200px;
  height: 200px;
  border: 1px solid lightblue;
  margin: 5px;
  list-style-type: none;

}
#flag img{
width: 100px;
}
#displayflag{
  display:flex;
  flex-wrap: wrap;
}
#side{
  width:100%;
  padding:20px;
  box-sizing:border-box;
}